{% extends 'base.html' %}

{% block guid %}  - <a href="{% url 'changepassword' %}">changepassword </a>{% endblock %}
  {% block title %} changepassword {% endblock %} 

{% block content %}

        
    <div class="well">
        <h1>修改密码</h1>
        <p>&nbsp;</p>
<!-- 错误提示信息 -->
    {% if password_is_wrong %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>错误!</h4>旧密码错误
        </div> {% endif %}


<!-- 注册表单开始 -->
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->   
            <table class=""> 
            {% for field in form %} 
                <tr>
                <td>{{ field.label_tag }}</td> <td>{{ field }} </td><td>{{ field.errors }}</td>
                </tr>
                <tr><td> &nbsp &nbsp </td></tr>
            {% endfor %}   
            </table>     
            
            <p class="form-actions">
                <input type="submit" value="确认修改" class="btn btn-primary">
             
            </p>
        </form>
    </div>

{% endblock %}