{% extends 'base.html' %}

{% block guid %}  - <a href="{% url 'stulist' %}"> student </a>
  - <a href="{% url 'impstu' %}"> import new students </a>{% endblock %}
{% block content %}

        
    <div class="well">
        <h1>上传文件--批量增加学生用户</h1>
        <p>&nbsp;</p>
<!-- 错误提示信息 -->
    {% if user_is_reged %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>错误!</h4>用户无权限
        </div> {% endif %}

<!-- 注册表单开始 -->
        <form class="alert alert-success" action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="form-actions">
                <input type="submit" value="上传" class="btn btn-primary">
             
            </p>
        </form>
    </div>

{% endblock %}