{% extends 'base.html' %}

{% block guid %}  - <a href="{% url 'userlist' %}">userlist </a>{% endblock %}
  {% block title %} userlist {% endblock %} 
{% block content %}

    {% if not user.is_authenticated %}
        <div class="alert alert-error">


            您还没有<a href="{% url 'login' %}">登录</a> 

        </div>
 {% else %} 

    {% if not perms.accounts.is_teacher %}
        <div class="alert alert-error">


            您没有accounts.is_teacher权限</a> 

        </div>
    {% else %}  
    <div class="well">
        <h1>用户列表</h1>
        <div  class="alert alert-success">
        <table class="table table-striped"> 
                <thead>
              <tr>
                <th>id</th>
                <th>用户名</th>
                <th>管理</th>
                <th>超级</th>
                <!-- <th>邮件</th>
                <th>是否有效</th>
                <th>密码</th>
                <th>创建的日期</th>
                <th>最后一次登录的日期</th>
                <th>姓</th>
                <th>名</th>
                <th>logentry</th>
                <th>userprofile</th>
                <th>用户的组</th>
                <th>用户的权限</th> -->
                <th>用户角色</th>

                </tr> 
           </thead>
            <tbody>    
        {%for uuu in users%}
        <tr>
        <td>{{uuu.id}}</td>
        <td>{{uuu.username}}</td>
        <td>{% if uuu.is_staff %} 管理员 {% endif %}</td>
        <td>{% if uuu.is_superuser %} 超级用户 {% endif %}</td>
        <!-- <td>{{user.email}}</td>
        <td>{{uuu.is_active}}</td>
        <td>{{uuu.password}}</td>
        <td>{{uuu.date_joined}}</td>
        <td>{{uuu.last_login}}</td>
        <td>{{uuu.first_name}}</td>
        <td>{{uuu.last_name}}</td>
        <td>{{uuu.logentry}}</td>
        <td>{{uuu.userprofile}}</td>
        <td>{{uuu.groups}}</td>
        <td>{{uuu.user_permissions}}</td>
 -->
        {% for prof in userprof %}
                {% if uuu.id == prof.user_id %}
                    <td>{% if prof.usergroup == 'is_teacher' %} <span class="label label-success">教师</span>
                        {%else%}{% if prof.usergroup == 'is_student' %} <span class="label label-primary">学生</span>
                            {%else%}<span class="label label-default">其他</span>
                            {%endif%}
                        {%endif%}
                    </td>
                    
                {% endif %}
        {% endfor %}

        </tr>
        
        {% endfor %} 
           </tbody>
        </table>
        </div>
        {% if user.is_active and user.is_superuser %}  
        <p>点击进入<a href="/admin/">管理用户权限</a> </br>
        修改职员状态,可以将用户设置为管理员;</br>
        修改组,可以将用户设置为学生(在组里,将'is_student'放入右边选中的组)或者老师(is_teacher) 
        </p>
        {% endif %}

        
    </div>
    {% endif %} 
  {% endif %} 
{% endblock %}