{% extends 'base.html' %}

{% block guid %}  - <a href="{% url 'qlist' %}">问卷 </a>  - <a href="{% url 'upfiles' %}">上传问卷 </a>{% endblock %}
  {% block title %} qview {% endblock %} 
{% block content %}


    <div class="well">
 
            <h1>upload</h1>
            <p>&nbsp;</p>
            <form class="alert alert-success" action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->   
            <table class=""> 
            {% for field in form %} 
                <tr>
                <td align="right">{{ field.label_tag }}</td> <td>{{ field }} </td><td>{{ field.errors }}</td>
                </tr>
                <tr><td> &nbsp &nbsp </td></tr>
            {% endfor %}   
            </table>     
            
            <p class="form-actions">  <input type="submit" value="上传" class="btn btn-primary">      </p>
            </form>
            <p >  <a href="{% url 'downtemplate' pp='question' %}">下载问卷模板</a> 当前仅支持excel格式  </p>
            <!-- 超链接传递的文件名 -->
     </div>
{% endblock %}